%h3 Avatar
- if current_user.avatar.attached?
    = image_tag current_user.avatar, size: 300, class: "rounded-circle mr-1", resize: "24x24!"
- else
    %img.rounded-circle.shadow-4{:alt => "Avatar", :src => "https://www.svgrepo.com/download/5125/avatar.svg", :style => "margin-left: auto; margin-right: auto; width: 50%;"}/

= form_with model: current_user, url: avatar_path(current_user.id), method: :put do |f|
    .field.form-group
    %br
        = f.file_field :avatar, autofocus: true, class: "border"
        %br
        .actions
            = f.submit "Save", class: "btn btn-dark"
- if current_user.avatar.attached?
    = button_to "Delete Avatar", avatar_path(current_user), method: :delete, class: 'btn btn-danger'
    %br
