%h2 Book details
%h4 Book Id: #{@book.id}
%h4 Book Name: #{@book.name}
%h4 Book Description: #{@book.description}
- user=User.find(@book.user_id)
%h4 Author Name: #{user.first_name} #{user.last_name}
%h4 Creation Date: #{@book.created_at.to_date}
%h4 Number of copies: #{@book.number_of_copy}
%h4 Notes: #{@book.note}
%h4 Likes: #{@book.likes}
%h4 Tags:
- @book.tags.each do |tag|
    .li
        = tag.name


= button_to "Issue", book_issue_path(@book), method: :post, class: "btn btn-dark"
= button_to "Return", return_book_path(@book), method: :put, class: "btn btn-dark"
= button_to "Archive", book_archive_path(@book), method: :put, class: "btn btn-dark"
= button_to "Like", book_like_path(@book), method: :put, class: "btn btn-dark"
= link_to "Preview", preview_book_path(@book), class: "btn btn-dark"
= button_to "Delete", book_path(@book), method: :delete, class: "btn btn-danger"
= link_to "Back", book_list_path(@book), class: "btn btn-dark"